*{
    margin:0;
    padding:0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:12px;
}

h1, p{
    margin:0;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin:0 auto;
}

input{
    box-sizing: content-box;
}

a{
    text-decoration: none;
}
/************************ Header ************************/

.header{
    width: 100%;
    min-height: 800px;
    background-image: url("../images/header-bg.png");
    background-size:cover;
    background-position: center;
}

.nav{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav ul li svg{
    position: relative;
    top: -25px;
}

.nav ul li a{
    transition: color .5s linear;
}

.nav ul li a:hover{
    cursor: pointer;
    color: #E8C300;
}

.home{
    margin: auto;
    padding: 100px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_time{
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.home_text{
    width:60%;
    text-align: center;
}

.home_text p{
    letter-spacing: 8px;
}

.home_text h1{
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    font-size: 96px;;
}

.home_text h1:after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:50px auto;
}

.home_btn{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 60px;
    color:#fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-transform: uppercase;

    transition: background .3s linear;
}

.home_btn:hover{
    background-color: #E8C300;
    border: 0;
}

.home_social{
    display: flex;
    flex-direction: column;
}

.fab{
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    transition: background .3s linear;
}

.fa-facebook-f::first-letter{
    padding: 5px;
}

.fab:hover{
    background-color: #E8C300;
    border: 0;
}

/************************ About ************************/

#about{
    margin: 100px 0;
    width: 100%;
}

.about_section{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.about_text{
    width: 50%;
    margin:auto;
    text-align: center;
}

.about_text h1{
    color: #000;
    font-family: 'Caveat', cursive;
    font-size: 36px;
    text-transform: uppercase;
}

.about_text h1::after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:20px auto;
}

.about_text p{
    padding-bottom: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.about_img{
    margin: auto;
    width: 50%;
    width: 475px;
    height: 475px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/************************ Team ************************/

#team{
    width: 100%;
    min-height: 675px;
    background-image: url("../images/team_img.png");
    background-size:cover;
    background-position: center;
}

.team_h1{
    padding: 50px;
    text-align: center;
    letter-spacing: 8px;
}

.team_section{
    padding: 0 10px 100px;
    display: flex;
    justify-content: space-between; 

}

.team_img{
    width: 50%;
    width: 475px;
    height: 475px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.team_text{
    width: 50%;
    margin:auto;
    text-align: center;
}

.team_text h1{
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

.team_text h1::after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:20px auto;
}

.team_text p{
    padding-bottom: 10px;
    font-size: 14px;

}

/************************ Booking ************************/

#booking{
    margin: 100px 0 0;
    width: 100%;
}

.booking_section{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.booking_form{
    width: 50%;
    margin:auto;
    text-align: center;
}

.booking_form h1{
    color: #000;
    font-family: 'Caveat', cursive;
    font-size: 36px;
    text-transform: uppercase;
}

.booking_form h1:after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:20px auto;
}

form[name="booking_form"]{
    text-align: center;
}

input{
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;

    border:0;
    border-radius: 5px;
    width: 277px;
    height: 60px;
    background-color: #E5E5E5;
    color: rgba(51, 51, 51, .5);
    font-weight: 400;
}

input[type=submit]{
    width: 585px;
    background-color: #E8C300;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .3s linear;
}

input[type=submit]:hover{
    background-color: #c0a000;
}


.booking_img{
    margin: auto;
    width: 50%;
    width: 475px;
    height: 475px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.booking_p{
    padding:50px 0;
    color: rgba(51, 51, 51, .5);
    font-weight: 400;
    text-align: center;
}

.booking_p span{
    color: rgba(51, 51, 51, .5);
    font-weight: 700;
}

/************************ Specialties ************************/

#specialties{
    width: 100%;
    min-height: 675px;
    background-image: url("../images/specialties_img.png");
    background-size:cover;
    background-position: center;
}

.specialties_h1{
    padding: 50px;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.specialties_section{
    padding: 0 10px 100px;
    display: flex;
    justify-content: space-between; 
}

.specialties_img{
    width: 50%;
    width: 475px;
    height: 475px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.specialties_text{
    width: 50%;
    margin:auto;
    text-align: center;
}

.specialties_text h1{
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 36px;
    text-transform: uppercase;
}

.specialties_text p{
    font-size: 14px;
}

.specialties_text h1:after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:20px auto;
}

.circle{
    color: #fff;;
}

/************************ Menu ************************/

#menu{
    margin: 100px 0;
    width: 100%;
}


.menu_h1{
    text-align: center;
    color: #000;
    font-family: 'Caveat', cursive;
    font-size: 36px;
    text-transform: uppercase;
}

.menu_h1:after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:20px auto;
}

.menu_p{
    
    padding: 0 10px 50px;
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

.menu_food{
    padding: 0 10px 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.menu_food p{
    padding-right: 50px;
    color: #333333;

    transition: color .3s linear;
}

.menu_food p:hover{
    color: #E8C300;
}

.menu_col{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.menu_col_1{
    width: 33.3333333%;
}

.menu_col_2{
    width: 33.3333333%;
}

.menu_col_3{
    width: 33.3333333%;
}

.menu_col_11{
    padding: 0 10px 20px;
}

.menu_col_11 h1{
    font-family: 'Caveat', cursive;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.menu_col_11 p{
    color:rgba(0, 0, 0, .5);

}



/************************ Gallery ************************/

#gallery{
    width: 100%;
    min-height: 675px;
    background-image: url("../images/gallery_img.png");
    background-size:cover;
    background-position: center;
}

.gallery_h1{
    padding: 50px;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.gallery_images{
    text-align: center;
}

.gallery_img{
    width: 360px;
    height: 360px;
}

.gallery_p{
    padding:100px 10px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}

.gallery_p span{
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
}

/************************ Contact ************************/

#contact{
    margin: 100px 0;
    width: 100%;
}

.contact_h1{
    text-align: center;
    color: #000;
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

.contact_h1::after{
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    border-radius: 50px;

    margin:20px auto;
}

.contact_p{
    text-align: center;
    color: #000;
}

form[name="contact_form"]{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

input[name="message"]{
    width: 900px;
    height: 120px;
}

input[name="contact_submit"]{
    width: 900px;
}

.contacts{
    padding: 0 10px;
    text-align: center;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.fas{
    color:#E8C300;
}

/************************ Footer ************************/
.footer{
    background-color: rgba(0, 0, 0, 0.9);
}

.footer_p{
    padding: 30px 0;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}



/************************ Media ************************/

@media screen and (max-width: 1253px){
    input[name="booking_submit"]{
        width: 277px;
    }
}

@media screen and (max-width: 992px){
    .home{
        padding: 40px 10px 0;
    }

    .booking_img{
        width: 275px;
        height: 275px;
    }

    input[name="message"]{
        width: 277px;
        height: 120px;
    }

    input[name="contact_submit"]{
        width: 277px;
    }
}

@media screen and (max-width: 768px){
    /*header*/
    .home{
        padding: 80px 10px 0;
    }
    .li{
        display: none;
    }
    .nav ul li svg{
        width:80px;
        height: 80px;
    }
    .home_text h1{
        font-size: 76px;
    }

    /*about*/
    .about_section{
        display: flex;
        flex-direction: column;
    }
    .about_text{
        width: 100%;
    }
    .about_img{
        margin: 20px auto 0;
    }

    /*team*/
    .team_section{
        flex-direction: column;
    }
    .team_img{
        margin: 0 auto 20px;
    }
    .team_text{
        width: 100%;
    }

    /*booking*/
    .booking_form{
        width: 100%;
    }
    .booking_section{
        flex-direction: column;
    }
    .booking_img{
        margin: 20px auto 0;
        width: 475px;
        height:475px;
    }

    /*specialties*/
    .specialties_section{
        flex-direction: column;
    }
    .specialties_img{
        margin: 0 auto 20px;
    }
    .specialties_text{
        width: 100%;
    }

    /*menu*/
    .menu_col{
        flex-direction: column;
    }
    .menu_col_1{
        width: 100%;
    }
    .menu_col_2{
        width: 100%;
    }
    .menu_col_3{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    *{
        font-size:10px;
    }
    /*header*/

    .home{
        padding: 150px 10px 0;
    }
    .home_text h1{
        font-size: 52px;
    }
    .home_text p{
        text-align: center;
    }
    .nav ul li svg{
        width:60px;
        height: 60px;
    }
    .home{
        flex-direction: column;
    }
    .home_text{
        width: 100%;
    }
    .home_time{
        display:none;
    }
    .home_btn{
        padding: 10px;
    }
    .home_social{
        padding-top: 40px;
        flex-direction: row;
    }
    .fab{
        margin-left: 16px;
    }


    /*about*/
    .about_text h1{
        font-size: 26px;
    }
    .about_img{
        width: 220px;
        height: 220px;
    }
    .team_img{
        width: 220px;
        height: 220px;
    }

    /*team*/
    .team_text h1{
        font-size: 26px;
    }

    /*booking*/
    .booking_form h1{
        font-size: 26px;
    }

    .booking_img{
        width: 220px;
        height: 220px;
    }
    .specialties_img{
        width: 220px;
        height: 220px;
    }
    input{
        width:140px;
        height: 30px;
    }
    input[type="submit"]{
        width:140px;
        height: 30px;
    }

    /*specialties*/
    .specialties_text h1{
        font-size: 26px;
    }

    /*menu*/
    .menu_h1{
        font-size: 26px;
    }
    .menu_food{
        flex-wrap: wrap;
    }
    .menu_food p{
        padding-bottom: 20px;
    }
    /*galery*/
    .gallery_img{
        width: 200px;
        height: 200px;
    }

    /*contact*/
    .contact_h1{
        font-size: 26px;
    }
    input[name="message"]{
        width:140px;
        height: 80px;
    }

}
